*{
    margin: 0;
    padding: 0;
    outline: 0;
    overflow: hidden;
}

#game {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("img/snake_bg.png");
    position: relative;
}

#title {
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid var(--cor-da-borda);
    margin-bottom: 10px;
}
#title h1{
    font-size: 50px;
    padding: 5px;
}

#title p{
    font-size: 20px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

#painel {
    width: 50vh;
    display: flex;
    flex-direction: column;
}

.painel-item {
    display: flex;
    justify-content: space-between;
    margin: 0 5px;
}

#screen-game, #snake{
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
}

#screen-game {
    border: 0.5px solid var(--cor-da-borda);
}

#sms{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}

.text-sms{
    font-size: 14px;
}

#keys{
    display: flex;
    align-items: center;
    justify-content: center;
}
.key-item{
    width: 30px;
    height: 30px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--cor-da-borda);
    background: var(--cor-de-botao);
    border-radius: 4px;
}

:root{
    --cor-do-titulo:  #06f812;
    --cor-de-fundo:  #bde2f3;
    --cor-de-botao:  rgba(247, 9, 9, 0.6);
    --cor-da-borda:  #948f8f;
    --cor-da-mensagem: #1228ec;
}

@media(max-width: 500px){
    #title, #painel, #screen-game, #snake{
        width: 100vw;
    }
}